body {
    background: #111E5A;
    font-family: "Nunito", sans-serif;
}


#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
}

#profile-img {
    width: 200px;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar a[aria-current="page"] {
    color: #FFE180;
}

#mainNavbar .nav-link:hover {
    color: #FFE180;
}

#mainNavbar .navbar-brand {
    color: #FFC300;
}



#simple-list-example {
    background: white;
}

#profile-img {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#FACEBOOK {
    background-color: #4E598D;
    color: #ffffff;
}

#FACEBOOK:hover {
    background-color: #132267;
    color: #fff;
}


#INSTAGRAM {
    background-color: #E6658A;
    color: #fff;
}

#INSTAGRAM:hover {
    background-color: #DE3163;
    color: #fff;
}


#KAKAOID {
    background-color: #FFD240;
    color: #fff;
}

#KAKAOID:hover {
    background-color: #FFC300;
    color: #fff;
}


#EMAIL {
    background-color: #416458;
    color: #fff;
}

#EMAIL:hover {
    background-color: #023020;
    color: #fff;
}


#CELLPHONE {
    background-color: #956369;
    color: #fff;
}

#CELLPHONE:hover {
    background-color: #722F37;
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #485fc7;
}

.nav-tabs {
    --bs-nav-tabs-link-active-color: #485fc7;
}





/* Bulma CSS 시작 */
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .600), 0 0 0 1px rgba(10, 10, 10, .100);
    color: #4a4a4a;
    display: block;
    padding: 3rem;
    box-sizing: inherit;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 20rem;
}

.input {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1000), 0 0 0 1px rgba(10, 10, 50, .200);
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    box-sizing: inherit;
    cursor: default;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

.button {
    background-color: #132267;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #ffffff;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.2em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.2em - 1px);
    margin-top: calc(0.2em - 1px);
    margin-bottom: calc(0.2em - 1px);
    text-align: center;
    white-space: nowrap;
    user-select: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    box-sizing: inherit;
    width: 10em;
}

.tabs {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    user-select: none;
    box-sizing: inherit;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

.tabs li {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-align: -webkit-match-parent;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

.tabs ul {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    list-style: none;
    box-sizing: inherit;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.tabs.is-boxed li.is-active a {
    background-color: #fff;
    border-color: #dbdbdb;
    border-bottom-color: transparent !important;
}

.tabs li.is-active a {
    border-bottom-color: #485fc7;
    color: #485fc7;
}

.tabs a {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
}

a {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none;
}

.tabs.is-boxed a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.tabs .icon:first-child {
    margin-right: 0.5em;
}

.icon.is-small {
    height: 1rem;
    width: 1rem;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

*,
::after,
::before {
    box-sizing: inherit;
}

i {
    font-style: italic;
}

.tabs.is-boxed a {
    color: #ffffff;
}

.tabs.is-boxed a:hover {
    background-color: whitesmoke;
    border-bottom-color: #dbdbdb;
    color: #485fc7;
}

/* Bulam CSS 끝 */